{% extends 'base.html' %}
{%load bootstrap%}

{%block title%} | Dízimo | Adicionar {%endblock%}

{% block 'breadcump_title' %}
Dízimos
{% endblock %}

{% block 'breadcump1' %}
<li class="breadcrumb-item active" aria-current="page">Dízimos</li>
<li class="breadcrumb-item active" aria-current="page">Adicionar</li>
{% endblock %}

{% block 'content' %}
<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
  <div class="card">

    <div class="card-header">
      <br>
      <h3> Adicionar Dízimo </h3>

    </div>
    <div class="card-body">
<section>
        <div>
          <form method="post">
                  
            {% csrf_token %}
            {{ form|bootstrap }}

        </div>
      </section>
    </div>
  </div>
  <input type="submit" class="btn btn-success"value="Adicionar" />
  </form>
</div>

{% endblock %}