{% extends 'base.html' %}
{%load bootstrap%}

{%block title%} | Dízimo | Adicionar {%endblock%}

{% block 'breadcump_title' %}
Informações do Dízimo
{% endblock %}

{% block 'breadcump1' %}
<li class="breadcrumb-item active" aria-current="page">Dízimos</li>
{% endblock %}

{% block 'content' %}

<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
    <div class="card">
        <div class="card-body">
            {% if dizimo %}
            <p>Data: {{ dizimo.data_culto }}</p>
            <p>Valor: {{ dizimo.valor }}</p>
            <p>Igreja: {{ dizimo.membro }}</p>

            {% endif %}
        </div>
    </div>
    <a href="{% url 'editar_dizimo' dizimo.id %}" class="btn btn-info">Editar</a>
    <a href="{% url 'excluir_dizimo' dizimo.id %}" class="btn btn-danger"><i
        class="fas fa-trash-alt"></i></a>
</div>

{%endblock%}