{% extends 'base.html' %}
{% block 'content' %}
<!-- ============================================================== -->
<!-- pageheader  -->
<!-- ============================================================== -->
<div class="row">
  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
      <div class="page-header">
          <h2 class="mb-2">Dízimos</h2>
          <div class="page-breadcrumb">
              <nav aria-label="breadcrumb">
                  <ol class="breadcrumb">
                      <li class="breadcrumb-item">Accounts</li>
                      <li class="breadcrumb-item">Cadastros</li>
                      <li class="breadcrumb-item active" aria-current="page">Listar</li>
                      <form method="POST" action="{% url 'filtrar_dizimos' %}">
                        {% csrf_token %}
                        <input type="text" name="membro" placeholder="Digite o nome do membro">
                        <button type="submit">Filtrar</button>
                    </form>
                  </ol>
              </nav>
          </div>
      </div>
  </div>
</div>
<!-- ============================================================== -->
<!-- end pageheader  -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- pendentes responsive table -->
<!-- ============================================================== -->
{% if messages %}
  <div class="messages">
    {% for message in messages %}
      <br>
      <div class="alert alert-{{ message.tags }}">{{ message }}</div>
    {% endfor %}
  </div>
{% endif %}

<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
  <div class="card">
    <div class="card-body">
      {% if dizimos_filtrados %}
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Data</th>
                <th scope="col">Valor</th>
                <th scope="col">Membro</th>
              </tr>
            </thead>
            <tbody>
              {% for dizimo in dizimos_filtrados %}
                <tr>
                  <td>{{ dizimo.data }}</td>
                  <td>{{ dizimo.valor }}</td>
                  <td>{{ dizimo.membro }}</td>
                </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      {% else %}
        <p>Nenhum dizimo foi realizado pelo membro digitado.</p>
      {% endif %}
    </div>
  </div>
  <a href="{% url 'adicionar_dizimo'%}" class="btn btn-success">Adicionar</a>
</div>

<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
  <div class="card">
    <div class="card-body">
      <div class="table-responsive">
        {% if dizimos %}
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Data</th>
                <th scope="col">Valor</th>
                <th scope="col">Membro</th>
              </tr>
            </thead>
            <tbody>
              {% for dizimo in dizimos %}
                <tr>
                  <td>{{ dizimo.data }}</td>
                  <td>{{ dizimo.valor }}</td>
                  <td>{{ dizimo.membro }}</td>
                  <td>
                    <a href="{% url 'detalhar_dizimo' dizimo.id %}" class="btn btn-info"><i class="fas fa-external-link-alt"></i></a>
                    <a href="{% url 'excluir_dizimo' dizimo.id %}" class="btn btn-danger"><i class="fas fa-trash-alt"></i></a>
                  </td>
                </tr>
              {% endfor %}
            </tbody>
          </table>

        {% endif %}
      </div>
    </div>
  </div>
</div>

<!-- ============================================================== -->
<!-- end responsive table -->
<!-- ============================================================== -->
{% endblock %}