{% extends 'base.html' %}
{% load static %}
{% block 'content' %}

{% if user.funcao == "Tesoureiro Sede"%}
        <h2>Criar Lista</h2>
        <div class="card">
            <div class="page-header">
                <a href="/teacher/criar_lista/">
                    <button class="btn btn-success">Criar Lista</button>
                </a>
            </div>
        </div>
    {% else %}
        <h2>Home</h2>
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
        <div class="card">
            
                
                    <a href="/financas/ofertas/listar">listar ofertas</a>
                    <a href="/financas/dizimos/listar">listar dizimos</a>
                    <a href="/financas/saidas/listar/">listar saidas</a>

                    <a href="/igrejas/membros/listar">listar membros</a>
                    <a href="/igrejas/listar">listar igrejas</a>
                    <a href="/financas/relatorios/mensal/listar/">listar relatorios mensais</a>


                        
          
        </div>
        </div>
{% endif %}
{% endblock %}