{% extends 'base.html' %}
{%load bootstrap%}

{%block title%} | Saídas | Adicionar{%endblock%}

{% block 'breadcump_title' %}
Saídas
{% endblock %}

{% block 'breadcump1' %}
<li class="breadcrumb-item active" aria-current="page">Saídas</li>
<li class="breadcrumb-item active" aria-current="page">Adicionar</li>
{% endblock %}

{% block 'content' %}
<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
  <div class="card">

    <div class="card-header">
      <br>
      <h3> Adicionar Saída </h3>

    </div>
    <div class="card-body">
<section>
  <div>
    <form method="post">

      <div class="form-row">
        <div class="form-group col-md-6 align-items-start">
            {{ form.descricao|bootstrap }}
        </div>
        <div class="form-group col-md-6">
            <div class="row">
                <div class="col-md-12">
                    {{ form.data|bootstrap }}
                </div>
                <div class="col-md-12">
                    {{ form.valor|bootstrap }}
                </div>
            </div>
        </div>
    </div>
    
  </div>
</section>
</div>
</div>
      <input type="submit" class="btn btn-success"value="Cadastrar" />
    </form>
 
</div>

{% endblock %}