{% extends 'base.html' %}
{% block 'content' %}
<!-- ============================================================== -->
<!-- pageheader  -->
<!-- ============================================================== -->
<div class="row">
  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
      <div class="page-header">
          <h3 class="mb-2">Solicitaçoes de Cadastro</h3>
          <div class="page-breadcrumb">
              <nav aria-label="breadcrumb">
                  <ol class="breadcrumb">
                      <li class="breadcrumb-item">Accounts</li>
                      <li class="breadcrumb-item">Cadastros</li>
                      <li class="breadcrumb-item active" aria-current="page">Listar</li>
                  </ol>
              </nav>
          </div>
      </div>
  </div>
</div>
<!-- ============================================================== -->
<!-- end pageheader  -->
<!-- ============================================================== -->

<!-- ============================================================== -->
<!-- pendentes responsive table -->
<!-- ============================================================== -->
<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
  <div class="card">
      <h5 class="card-header">Pendentes</h5>
      <div class="card-body">
          <div class="table-responsive ">
              {% if pendentes %}
              <table class="table">
                  <thead>
                      <tr>
                        <th scope="col">CPF</th>
                        <th scope="col">Nome</th>
                        <th scope="col">Email</th>
                        <th scope="col">Telefone</th>
                        <th scope="col">Igreja</th>
                        <th scope="col">Ação</th>
                      </tr>
                  </thead>
                  <tbody>
                    {% for solicitacao in pendentes %}
                      <tr>
                        <th scope="col">{{ solicitacao.usuario.cpf }}</th>
                        <td>{{ solicitacao.usuario.nome }}</td>
                        <td>{{ solicitacao.usuario.email }}</td>
                        <td>{{ solicitacao.usuario.telefone }}</td>
                        <td>{{ solicitacao.usuario.igreja }}</td>
                        <td>
                          <a href="{% url 'detalhar_cadastro' solicitacao.id %}" class="btn btn-info"><i class="fas fa-external-link-alt"></i></a>
                        </td>
                      </tr>
                    {% endfor %}
                      
                  </tbody>
              </table>
              {% else %}
          <p>Nenhuma solicitação de cadastro pendente no momento.</p>
          {% endif %}
          </div>
          
      </div>
  </div>
</div>

<!-- ============================================================== -->
<!-- end responsive table -->
<!-- ============================================================== -->

<!-- ============================================================== -->
<!-- negadas responsive table -->
<!-- ============================================================== -->

<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
  <div class="card">
      <h5 class="card-header">Negadas</h5>
      <div class="card-body">
          <div class="table-responsive ">
            {% if negadas %}
              <table class="table">
                  <thead>
                      <tr>
                        <th scope="col">CPF</th>
                        <th scope="col">Nome</th>
                        <th scope="col">Email</th>
                        <th scope="col">Telefone</th>
                        <th scope="col">Igreja</th>
                        <th scope="col">Ação</th>
                      </tr>
                  </thead>
                  <tbody>
                    {% for solicitacao in negadas %}
                      <tr>
                        <th scope="col">{{ solicitacao.usuario.cpf }}</th>
                        <td>{{ solicitacao.usuario.nome }}</td>
                        <td>{{ solicitacao.usuario.email }}</td>
                        <td>{{ solicitacao.usuario.telefone }}</td>
                        <td>{{ solicitacao.usuario.igreja }}</td>
                        <td>
                          <a href="{% url 'detalhar_cadastro' solicitacao.id %}" class="btn btn-error"><i class="fas fa-external-link-alt"></i></a>
                        </td>
                      </tr>
                    {% endfor %}

                    
                      
                  </tbody>
                  
              </table>
              {% else %}
              <p>Nenhuma solicitação de cadastro negada no momento.</p>
              {% endif %}
          </div>
          
      </div>
  </div>
</div>
<!-- ============================================================== -->
<!-- end responsive table -->
<!-- ============================================================== -->

<!-- ============================================================== -->
<!-- aprovadas responsive table -->
<!-- ============================================================== -->

<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
  <div class="card">
      <h5 class="card-header">Aprovadas</h5>
      <div class="card-body">
          <div class="table-responsive ">
            {% if aprovadas %}
              <table class="table">
                  <thead>
                      <tr>
                        <th scope="col">CPF</th>
                        <th scope="col">Nome</th>
                        <th scope="col">Email</th>
                        <th scope="col">Telefone</th>
                        <th scope="col">Igreja</th>
                        <th scope="col">Ação</th>
                      </tr>
                  </thead>
                  <tbody>
                    {% for solicitacao in aprovadas %}
                      <tr>
                        <th scope="col">{{ solicitacao.usuario.cpf }}</th>
                        <td>{{ solicitacao.usuario.nome }}</td>
                        <td>{{ solicitacao.usuario.email }}</td>
                        <td>{{ solicitacao.usuario.telefone }}</td>
                        <td>{{ solicitacao.usuario.igreja }}</td>
                        <td>
                          <a href="{% url 'detalhar_cadastro' solicitacao.id %}" class="btn btn-success"><i class="fas fa-external-link-alt"></i></a>
                        </td>
                      </tr>
                    {% endfor %}
                      
                  </tbody>
              </table>
              {% else %}
        <p>Nenhuma solicitação de cadastro aprovada ainda.</p>
        {% endif %}
          </div>
          
      </div>
  </div>
</div>
<!-- ============================================================== -->
<!-- end responsive table -->
<!-- ============================================================== -->


{% endblock %}
