<div class="nav-left-sidebar sidebar-dark">
    <div class="menu-list">
        <nav class="navbar navbar-expand-lg navbar-light">
            <a class="d-xl-none d-lg-none" href="#">Dashboard</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav flex-column">
                    <li class="nav-divider">
                        Menu
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'home'%}"><i class="fa fa-fw fa-rocket"></i>Dashboard</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'home'%}"><i class="fa fa-fw fa-rocket"></i>Igreja</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'listar_membros'%}"><i class="fa fa-fw fa-rocket"></i>Membros</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'listar_saida'%}"><i class="fa fa-fw fa-rocket"></i>Saidas</a>
                    </li>
                    
                    <li class="nav-item">
                        <a class="nav-link" href="#" data-toggle="collapse" aria-expanded="false" data-target="#submenu-3" aria-controls="submenu-3"><i class="fas fa-fw fa-chart-pie"></i>Entradas</a>
                        <div id="submenu-3" class="collapse submenu">
                            <ul class="nav flex-column">
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'listar_ofertas'%}">Ofertas</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="{% url 'listar_dizimos'%}">Dizimos</a>
                                </li>

                            </ul>
                        </div>
                    </li>
                    {% if user.funcao == "Tesoureiro Sede"%}
                    <li class="nav-divider">
                        Features
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'home'%}"><i class="fa fa-fw fa-rocket"></i>Dashboard</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'home'%}"><i class="fa fa-fw fa-rocket"></i>Igreja</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'listar_membros'%}"><i class="fa fa-fw fa-rocket"></i>Membros</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'listar_saida'%}"><i class="fa fa-fw fa-rocket"></i>Saidas</a>
                    </li>
    {% endif %}
                    
                </ul>
            </div>
        </nav>
    </div>
</div>
<!-- ============================================================== -->
<!-- end left sidebar -->
<!-- ============================================================== -->
