{% extends 'base.html' %}
{%load bootstrap%}

{% block 'content' %}

{% if relatorio_geral %}
    <p>Tesoureiro Sede: {{ relatorio_geral.tesoureiro_sede.nome }}</p>
    <h2>Informações do Relatório geral</h2>
    <p>Data de início: {{ relatorio_geral.data_inicio }}</p>
    <p>Data de término: {{ relatorio_geral.data_fim }}</p>
    <p>Total entradas da sede: {{ relatorio_geral.calc_entradas_sede }}</p>
    <p>Total saida da sede: {{ relatorio_geral.calc_saidas_sede }}</p>
    <p>Total entradas locais: {{ relatorio_geral.calc_entradas_locais }}</p>
    <p>Total saida locais: {{ relatorio_geral.calc_saidas_locais }}</p>
    <p>Saldo: {{ relatorio_geral.calc_saldo }}</p>

    

    <section>
        <h2>
          Adicionar despesas
        </h2> 
        <div>
          <form method="post">
                  
            {% csrf_token %}
            {{ form|bootstrap }}
      
            <input type="submit" class="btn btn-success" value="Salvar" />
           
          </form>
        </div>
      </section>

    

{% endif %}
{% endblock %}


