{% extends 'base.html' %}
{% block 'content' %}
<!-- ============================================================== -->
<!-- pageheader  -->
<!-- ============================================================== -->
<div class="row">
  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
      <div class="page-header">
          <h2 class="mb-2">  Relatórios mensais</h2>
          <div class="page-breadcrumb">
              <nav aria-label="breadcrumb">
                  <ol class="breadcrumb">
                      <li class="breadcrumb-item">Accounts</li>
                      <li class="breadcrumb-item">Cadastros</li>
                      <li class="breadcrumb-item active" aria-current="page">Listar</li>
                  </ol>
              </nav>
          </div>
      </div>
  </div>
</div>
<!-- ============================================================== -->
<!-- end pageheader  -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- pendentes responsive table -->
<!-- ============================================================== -->
{% if messages %}
      <div class="messages">
        {% for message in messages %}
          <br>
          <div class="alert alert-{{ message.tags }}">{{ message }}</div>
        {% endfor %}
      </div>
    {% endif %}
<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
  <div class="card">
      <div class="card-body">
          <div class="table-responsive ">
              {% if relatorios %}
              <table class="table">
                  <thead>
                      <tr>
                        <th scope="col">Data de início: </th>
                        <th scope="col">Data de término: </th>
                        <th scope="col">Total saidas: </th>

                      </tr>
                  </thead>
                  <tbody>
                    
                    {% for relatorio in relatorios %}
                    <tr>
                      <th scope="col">{{ relatorio.data_inicio }}</th>
                      <td>{{ relatorio.data_fim }}</td>
                      <td>{{ relatorio.entradas_sede }}</td>
                      

                      
                      <td>
                        <a href="{% url 'detalhar_relatorio_geral' relatorio.id %}" class="btn btn-info"><i class="fas fa-external-link-alt"></i></a>
                      </td>
                    </tr>
                  {% endfor %}
                      
                  </tbody>
              </table>
              {% else %}
    <p>Cadastre igrejas para que um relatório geral seja criado !</p>
    {% endif %}
          </div>

          
      </div>
  </div>
  <a href="{% url 'gerar_relatorio'%}" class="btn btn-success">Gerar novo relatório</a>
    
</div>
    


<!-- ============================================================== -->
<!-- end responsive table -->
<!-- ============================================================== -->
  {%endblock%}