{% extends 'base.html' %}
{% block 'content' %}

  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
  <h2>Membros</h2>
  <div class="card">
        <div class="card-body">
  {% if membros %}
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Nome</th>
          <th scope="col">Data de nascimento</th> 
        </tr>
      </thead>
      <tbody>
        {% for membro in membros %}
          <tr>
            <td>{{ membro.nome }}</td>
            <td>{{ membro.data_nasc }}</td> 
            <td>
              <a href="{% url 'editar_membro' membro.id %}" class="btn btn-info"><i class="fas fa-external-link-alt"></i></a>
              <a href="{% url 'excluir_membro' membro.id %}" class="btn btn-danger"><i class="fas fa-trash-alt"></i></a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>

  {% else %}
    <p>Nenhum membro cadastrado.</p>
    {% endif %}

</div>
</div>
    <a href="{% url 'cadastrar_membro'%}" class="btn btn-success">Adicionar</a>
  </div>

{% endblock %}
