{% extends 'base.html' %}

{%block title%} | Ofertas | Detalhar{%endblock%}


{% block 'breadcump_title' %}
Ofertas
{% endblock %}

{% block 'breadcump1' %}
<li class="breadcrumb-item active" aria-current="page">Oferta</li>
<li class="breadcrumb-item active" aria-current="page">Detalhar</li>

{% endblock %}

{% block 'content' %}

{% if oferta %}

<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
    <div class="card border-3 border-top border-top-primary">
        <div class="card-body">

            <h2>Informações da Oferta</h2>
            <p>Data: {{ oferta.data_culto }}</p>
            <p>Culto: {{ oferta.tipo_culto }}</p>
            <p>Valor do dízimo: R$ {{ oferta.valor_dizimo }}</p>
            <p>Valor das ofertas: R$ {{ oferta.valor_oferta }}</p>
            <p>Total arrecadado: R$ {{ oferta.total }}</p>

        </div>
    </div>
    <a href="{% url 'editar_oferta' oferta.id %}" class="btn btn-success">Editar</a>
    <a href="{% url 'excluir_oferta' oferta.id %}" class="btn btn-danger">Excluir</a>
</div>

{% endif %}
{% endblock %}