{% extends 'base.html' %}
{%load bootstrap%}
{%block title%} | Igrejas | Editar{%endblock%}

{% load static %}

{% block 'breadcump_title' %}
Igrejas
{% endblock %}

{% block 'breadcump1' %}
<li class="breadcrumb-item"><a href="{% url 'listar_igrejas' %}" class="breadcrumb-link">Igrejas</a></li>

{% endblock %}

{% block 'breadcump2' %}
<li class="breadcrumb-item active" aria-current="page">{{ igreja.nome }}</li>
{% endblock %}
{% block 'content' %}

<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
  <div class="card">

    <div class="card-header">
      
      <h3>Editar igreja</h3>

    </div>
    <div class="card-body">
      <section>
        <h2>
        </h2>
        <div>
          <form method="post">

            {% csrf_token %}
            {{ form|bootstrap }}

            <input type="submit" value="Salvar" class="btn btn-success" />
          </form>
        </div>
      </section>
      

    </div>
  </div>
</div>

<div class="card">
  
  <div class="card-body">
    {% if membros.count > 0 %}
    <table class="table">
      <thead class="bg-light">
        <tr><h4>Lista de membros</h4></tr>
        <tr class="border-0">
          <th>Nome</th>
          <th>Data de nascimento</th>
          <th>CPF</th>
          <th>Dizimista</th>
        </tr>
      </thead>
      <tbody>
        {% for membro in membros %}
            <tr>
              <td>{{ membro.nome }}</td>
              <td>{{ membro.data_nasc|date:"d/m/y" }}</td>
              <td>{{ membro.cpf }}</td>
              {% if membro.dizimos.count > 0 %}
                  <td>Sim</td>
                  {% else %}
                  <td>Não</td>
              {% endif %}
            </tr>
        {% endfor %}
      </tbody>
    </table>
  
    {% else %}
    <p>Nenhum membro cadastrado.</p>
    {% endif %}
  
  </div>
  
</div>




{% endblock %}