{% block content %}
  <h2>Igrejas</h2>

  {% if igrejas %}
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Nome</th>
          <th scope="col">Local</th>
          <th scope="col">Saldo</th>
          
        </tr>
      </thead>
      <tbody>
        {% for igreja in igrejas %}
          <tr>
            <td>{{ igreja.nome }}</td>
            <td>{{ igreja.localizacao }}</td>
            <td>{{ igreja.saldo }}</td>
            
            <td>
              <a href="{% url 'editar_igreja' igreja.id %}" class="btn btn-success">Editar</a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
      <a href="{% url 'cadastrar_igreja' %}" class="btn btn-success">Cadastrar igreja</a>
    </table>

  {% else %}
    <p>Nenhuma igreja encontrada.</p>
    <a href="{% url 'cadastrar_igreja'%}" class="btn btn-success">Adicionar</a>
    {% endif %}
{% endblock %}
