{% extends 'base.html' %}
{% load static %}

{%block title%} | Igrejas{%endblock%}

{% block 'breadcump_title' %}
Igrejas
{% endblock %}

{% block 'breadcump1' %}
<li class="breadcrumb-item active" aria-current="page">Igrejas</li>
{% endblock %}

{% block 'content' %}

{% if messages %}

<div class="messages">
  {% for message in messages %}
  <br>
  <div class="alert alert-{{ message.tags }}">{{ message }}</div>
  {% endfor %}
</div>
{% endif %}

<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
  <div class="card">


    <div class="card-body">
      {% if igrejas %}
      <table class="table">
        <thead class="bg-light">
          <tr class="border-0">
            <th class="border-0" scope="col">Nome</th>
            <th class="border-0" scope="col">Local</th>
            <th class="border-0" scope="col">Saldo</th>
            <th class="border-0" scope="col">Ação</th>

          </tr>
        </thead>
        <tbody>
          {% for igreja in igrejas %}
          <tr>
            <td>{{ igreja.nome }}</td>
            <td>{{ igreja.localizacao }}</td>
            <td>{{ igreja.saldo }}</td>
            <td>
              <a href="{% url 'editar_igreja' igreja.id %}" class="btn btn-info">Editar</a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>

      {% else %}
      <p>Nenhuma Igreja cadastrada.</p>
      {% endif %}

    </div>
  </div>
  <a href="{% url 'cadastrar_igreja' %}" class="btn btn-success">Cadastrar igreja</a>
</div>


{% endblock %}
