{% load static %}
{%load bootstrap%}


<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>AD Gestão | Login</title>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}">
  <link href="{% static 'assets/vendor/fonts/circular-std/style.css' %}" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'assets/libs/css/style.css' %}">
  <link rel="stylesheet" href="{% static 'assets/vendor/fonts/fontawesome/css/fontawesome-all.css' %}">
  <style>
    html,
    body {
      height: 100%;
    }

    body {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-align: center;
      align-items: center;
      padding-top: 40px;
      padding-bottom: 40px;
    }
  </style>
</head>
<!-- ============================================================== -->
<!-- signup form  -->
<!-- ============================================================== -->

<body>

  <!-- ============================================================== -->
  <!-- signup form  -->
  <!-- ============================================================== -->

  <form class="splash-container" method="POST">
    {% if form.non_field_errors %}
    <div class="alert alert-danger">
      {% for error in form.non_field_errors %}
      {{ error }}
      {% endfor %}
    </div>
    {% endif %}
    {% if next %}
    <div class="alert alert-primary" role="alert">
      Faça login para continuar
    </div>
    {% endif %}
    {% csrf_token %}

    <div class="card">



      <div class="card-header">
        <h3 class="mb-1">Entre na sua conta</h3>
        <p>Insira seus dados para acessar o sistema.</p>
      </div>
      <div class="card-body">
        <div class="form-group">
          <input class="form-control form-control-lg" type="text" name="username" required placeholder="CPF"
            autocomplete="off">
        </div>
        <div class="form-group">
          <input class="form-control form-control-lg" type="password" name="password" required placeholder="Senha">
        </div>
        <p><a href="{% url 'password_reset' %}">Esqueceu sua senha?</a></p>

        <div class="form-group pt-2">
          <input type="submit" value="login" class="btn btn-block btn-primary" />
          <input type="hidden" name="next" value="{{next}}" />
        </div>

      </div>
      <div class="card-footer bg-white">
        Não tem conta? <a href="{% url 'solicitar_cadastro' %}" class="text-secondary">Crie uma aqui.</a>
      </div>
    </div>
  </form>
</body>


</html>