

{%load bootstrap%}

{% block content %}

<section class="banner">
  <h2 class="float-left">
    Informe seus dados <br />
    para poder prosseguir
  </h2> 
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-12 col-xl-7">
        <div class="col-md-12">
       
          <form method="post" class="feature-item mb-5 mb-lg-5">
            
            {% csrf_token %}
            {{ form_solicitacao|bootstrap }}

            <input class="btn btn-primary btn-lg" type="submit" value="Cadastrar" />
          </form>
       
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}