{% extends 'base.html' %}
{%load bootstrap%}

{% block content %}

<section>
  {% if form.non_field_errors %}
  <div class="alert alert-danger">
    {% for error in form.non_field_errors %}
    {{ error }}
    {% endfor %}
  </div>
  {% endif %}
  {% if next %}
  <div class="alert alert-yellow">
    Faça login continuar
  </div>
  {% endif %}
  <h2>
    Informe seus dados <br />
    para poder prosseguir
  </h2>
  <div>
    <form method="post">

      {% csrf_token %}
      {{ form_solicitacao|bootstrap }}

      <input type="submit" value="Cadastrar" />
    </form>
  </div>
</section>

{% endblock %}