{% extends 'base.html' %}
===================================================== -->

<!-- pageheader  -->
<!-- ============================================================== -->

{%block title%} | Relatórios {%endblock%}


{% block 'breadcump_title' %} 
    Relatórios Mensais
{% endblock %}

{% block 'breadcump1' %}
    <li class="breadcrumb-item"><a href="{% url 'listar_relatorios_mensais' %}" class="breadcrumb-link">Finanças</a></li>

{% endblock %}

{% block 'breadcump2' %}
    <li class="breadcrumb-item active" aria-current="page">Relatório Mensal</li>
{% endblock %}

{% block 'content' %}

<!-- end pageheader  -->

<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- pendentes responsive table -->
<!-- ============================================================== -->
{% if messages %}

<div class="messages">
  {% for message in messages %}
  <br>
  <div class="alert alert-{{ message.tags }}">{{ message }}</div>
  {% endfor %}
</div>
{% endif %}

{% if usuario.funcao == 'Tesoureiro Sede' %}
    {% if relatorios %}
    <h3>Relatórios da igreja {{ usuario.igreja }} </h3>
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
      <div class="card">
        <div class="card-body">
          <div class="table-responsive ">
            <table class="table">
              <thead>
                <tr><h4>Ativos</h4></tr>
                <tr>
                  <th scope="col">Data de início: </th>
                  <th scope="col">Saldo: </th>
                  <th scope="col">Total de entradas: </th>
                  <th scope="col">Ação</th>

                </tr>
              </thead>
              {% for relatorio in relatorios %}
              {% if relatorio.status == 'ativo' %}
              <tbody>
                  <tr>
                    <th scope="col">{{ relatorio.data_inicio }}</th>
                    <td>{{ relatorio.saldo }}</td>
                    <td>{{ relatorio.total_entradas }}</td>

                    <td>
                      <a href="{% url 'detalhar_relatorio_mensal' relatorio.id %}" class="btn btn-info"><i
                          class="fas fa-external-link-alt"></i></a>
                      <a href="{% url 'excluir_relatorio_mensal' relatorio.id %}" class="btn btn-danger"><i
                          class="fas fa-trash-alt"></i></a>
                    </td>
                  </tr>

                  {% endif %}
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
              
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
        <div class="card">
          <div class="card-body">
            <div class="table-responsive ">            
                  <table class="table">
                    <thead>
                      <tr><h4>Finalizados</h4></tr>
                      <tr>

                        <th scope="col">Data de início: </th>
                        <th scope="col">Saldo: </th>
                        <th scope="col">Total de entradas: </th>
                        <th scope="col">Ação</th>
          
                      </tr>
                    </thead>

                    {% for relatorio in relatorios_tesoureiro %}
                    {% if relatorio.status == 'finalizado' %}
                    <tbody>
          
                        <tr>
                          <th scope="col">{{ relatorio.data_inicio }}</th>
                          <td>{{ relatorio.saldo }}</td>
                          <td>{{ relatorio.total_entradas }}</td>

                          <td>
                            <a href="{% url 'detalhar_relatorio_mensal' relatorio.id %}" class="btn btn-info"><i
                                class="fas fa-external-link-alt"></i></a>
                            <a href="{% url 'excluir_relatorio_mensal' relatorio.id %}" class="btn btn-danger"><i
                                class="fas fa-trash-alt"></i></a>
                          </td>
                        </tr>
                        {% endif %}
                    {% endfor %}
          
                    </tbody>
                  </table>
          </div>
        </div>
      </div>
    </div>
    {% endif %}


{% else %}

{% if relatorios_TS %}
<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
  <div class="card">
    <div class="card-body">
      <div class="table-responsive ">
        <table class="table">
          <thead>
            <tr><h4>Ativos</h4></tr>
            <tr>
              <th scope="col">Igreja: </th>
              <th scope="col">Data de início: </th>
              <th scope="col">Saldo: </th>
              <th scope="col">Ação</th>

            </tr>
          </thead>
          {% for relatorio in relatorios_TS %}
          {% if relatorio.status == 'ativo' %}
          <tbody>
              <tr>
                <th>{{ relatorio.igreja }}</th>
                <th scope="col">{{ relatorio.data_inicio }}</th>
                <td>{{ relatorio.saldo }}</td>

                <td>
                  <a href="{% url 'detalhar_relatorio_mensal' relatorio.id %}" class="btn btn-info"><i
                      class="fas fa-external-link-alt"></i></a>
                  <a href="{% url 'excluir_relatorio_mensal' relatorio.id %}" class="btn btn-danger"><i
                      class="fas fa-trash-alt"></i></a>
                </td>
              </tr>

              {% endif %}
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
           
  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
    <div class="card">
      <div class="card-body">
        <div class="table-responsive ">            
              <table class="table">
                <thead>
                  <tr><h4>Finalizados</h4></tr>
                  <tr>
                    <th scope="col">Igreja: </th>
                    <th scope="col">Data de início: </th>
                    <th scope="col">Saldo: </th>
                    <th scope="col">Ação</th>
                  </tr>
                </thead>

                {% for relatorio in relatorios_TS %}
                {% if relatorio.status == 'finalizado' %}
                <tbody>
      
                    <tr>
                      <th>{{ relatorio.igreja}}</th>
                      <th scope="col">{{ relatorio.data_inicio }}</th>
                      <td>{{ relatorio.saldo }}</td>

                      <td>
                        <a href="{% url 'detalhar_relatorio_mensal' relatorio.id %}" class="btn btn-info"><i
                            class="fas fa-external-link-alt"></i></a>
                        <a href="{% url 'excluir_relatorio_mensal' relatorio.id %}" class="btn btn-danger"><i
                            class="fas fa-trash-alt"></i></a>
                      </td>
                    </tr>
                    {% endif %}
                {% endfor %}
      
                </tbody>
              </table>
      </div>
    </div>
  </div>
</div>
{% endif %}

{% endif %}


{%endblock%}

